<ion-header>
    <ion-navbar color="inscrire">
        <img src="../../assets/imgs/bg_general.png" style="  margin: -2207px 0px -1536px 0;">
       <ion-title style="margin: -10px 0px 1px 66px;">Profile</ion-title>
       <button ion-button menuToggle right style="  border: 2px solid #ff5c00;border-radius: 12px; margin: 5px 0 0 0; background-color: #b23672">
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-navbar>


      <ion-toolbar no-border style="padding:0px;" color="moskar" clear>
        <ion-segment [(ngModel)]="Profil">
          <ion-segment-button value="ValidatePro" style="color:white;" *ngIf="validpro">
            Validez
          </ion-segment-button>
          <ion-segment-button value="Profil" style="color:white;">
            Profil
          </ion-segment-button>
          <ion-segment-button value="Checkout" style="color:white;" *ngIf="validpro">
            Checkout               
          </ion-segment-button>
          <ion-segment-button value="Bienvenue" style="color:white;">
            Bienvenue
        </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
</ion-header>
<ion-content>
    <div [ngSwitch]="Profil">

    <ion-list *ngSwitchCase="'ValidatePro'">
        <ion-row>
            <ion-card>
                <!--<img src="../assets/imgs/account.jpg"/>-->
                <ion-card-content style="text-align: center;">
                        <ion-card-title>
                              Compte Professionel <br>
                              29,00€ / 1 mois
                        </ion-card-title>
                    <p>
                        Un Compte Professionel est un Compte qui regroupe tous, 
                        le membre peut ajouter des produits sans limite et aussi peut être un 
                        client qui passe des commandes sur MoskarCenter.
                    </p>
                </ion-card-content>
            </ion-card>

            <button (click)="onValidate()" ion-button style="width:88%; margin-top: 11%; margin-left:6%; text-transform: none;" color="connect" large>Valider Votre Choix</button>
        </ion-row>
    </ion-list>

    <ion-list *ngSwitchCase="'Profil'">
        <form #profileForm="ngForm">
            <ion-item>
                <ion-label floating color="primary">Identifiant</ion-label>
                <ion-input readonly="{{isReadonly}}" [(ngModel)]="profile.username" name="username" type="text" #username="ngModel" required></ion-input>
            </ion-item>
                    
            <ion-item>
                <ion-label floating color="primary">Email</ion-label>
                <ion-input readonly="{{isReadonly}}" [(ngModel)]="profile.email" name="email" type="email" #email="ngModel" required></ion-input>
            </ion-item>
                 
          <ion-item>
              <ion-label floating color="primary">Nom</ion-label>
              <ion-input [(ngModel)]="profile.first_name" name="first_name" type="text" #first_name="ngModel"></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label floating color="primary">Prénom</ion-label>
            <ion-input [(ngModel)]="profile.last_name" name="last_name" type="text" #last_name="ngModel"></ion-input>
          </ion-item>

          <ion-item *ngIf="isPro">
                <ion-label floating color="primary">Mon Du Magasin</ion-label>
                <ion-input [(ngModel)]="profile.magasin" name="magasin" type="text" #magasin="ngModel" required></ion-input>
            </ion-item>
                 
          <ion-item>
              <ion-label floating color="primary">Adresse 1</ion-label>
              <ion-input [(ngModel)]="profile.adresse1" name="adresse1" type="text" #adresse1="ngModel" required></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label floating color="primary">Adresse 2</ion-label>
            <ion-input [(ngModel)]="profile.adresse2" name="adresse2" type="text" #adresse2="ngModel"></ion-input>
          </ion-item>

          <ion-item>
                <ion-label floating color="primary">Pays</ion-label>
                <ion-select [(ngModel)]="profile.pays" name="pays" #pays="ngModel">
                    <ion-option  *ngFor="let c of countries" value={{c.name}} [selected]="is_mayotte(c.name)">{{c.name}}</ion-option>
                </ion-select>
            </ion-item>
            
            <ion-item>
              <ion-label floating color="primary">Code Postale</ion-label>
              <ion-input [(ngModel)]="profile.postcode" name="postcode" type="text" #postcode="ngModel" required></ion-input>
            </ion-item>
  
  
            <ion-item>
                  <ion-label floating color="primary">Ville/Localité</ion-label>
                  <ion-input [(ngModel)]="profile.ville" name="ville" type="text" #ville="ngModel"></ion-input>
              </ion-item>
                   
            <ion-item>
                <ion-label floating color="primary">État/Pays</ion-label>
                <ion-input [(ngModel)]="profile.etat" name="etat" type="text" #etat="ngModel"></ion-input>
            </ion-item>
            
            <ion-item *ngIf="isPro">
              <ion-label floating color="primary">Téléphone de l'entreprise</ion-label>
              <ion-input [(ngModel)]="profile.phone" name="phone" type="text" #phone="ngModel" required></ion-input>
            </ion-item>
              
            <ion-item *ngIf="isPro">
                <ion-label floating color="primary">SIRET</ion-label>
                <ion-input [(ngModel)]="profile.siret" name="siret" type="text" #siret="ngModel" required></ion-input>
            </ion-item>
         
          <div>
              <button ion-button (click)="onSave(profileForm)" style="width:88%; margin-top: 11%; margin-left:6%;" color="connect" large>Confirmez</button>
          </div>
        </form>
      </ion-list>


      <ion-list *ngSwitchCase="'Checkout'">
            <button (click)="onCheckout()" ion-button style="width:88%; margin-top: 11%; margin-left:6%; text-transform: none;" color="connect" large>Payer</button>
      </ion-list>

      <ion-list *ngSwitchCase="'Bienvenue'">
        <ion-card *ngIf="isPro==false">
            <img src="../assets/imgs/account.jpg"/>
                <ion-card-content>
                    <ion-card-title>
                            Compte Particulier
                    </ion-card-title>
                    <p>
                        Avec un compte particulier , 
                        le membre peut acheter et passer 
                        des commandes sans limite sur MoskarCenter.
                        Un compte particulier est aussi un vendeur qui
                        peut vendre au maximum 5 produits 
                        achetable sur MoskarCenter.
                    </p>
                </ion-card-content>
        </ion-card>
        <ion-card *ngIf="isPro==false">
            <ion-card-content>
                <ion-card-title>
                    Plan gratuit !!! Il n’y a aucune option 
                    de paiement pour cela.
                </ion-card-title>
                <ion-card-title>
                Expire le: N'expire jamais
                </ion-card-title>
            </ion-card-content>
        </ion-card>

        <ion-card *ngIf="isPro">
                <ion-card-content>
                    <ion-card-title>
                        Compte Professionel
                    </ion-card-title>
                </ion-card-content>
        </ion-card>
        <button ion-button style="width:88%; margin-top: 11%; margin-left:6%; text-transform: none;" color="connect" large>
                          Améliorez Votre Abonnement</button>

      </ion-list>
      </div>
</ion-content>