<ion-header>
    <ion-navbar color="moskar">
      <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
      <ion-title>
        <img alt="logo" height="25" style="margin: 10px 0 5px -13px;" src="../../assets/imgs/logo-moskarcenter.png" >
      </ion-title>
      <ion-buttons end>
          <ion-grid>
              <ion-row>
                <ion-col>
                  <button (click)="notifications()" style="background-color: transparent; font-size: 20px; color: aliceblue">
                    <ion-icon name="notifications-outline"></ion-icon>
                  </button>
                </ion-col>
                <ion-col>
                  <button (click)="basket()" style="background-color: transparent; font-size: 20px; color: aliceblue">
                      <ion-icon name="cart"></ion-icon>
                  </button>
                </ion-col>
              </ion-row>
            </ion-grid>
      </ion-buttons>
  </ion-navbar>

  <ion-searchbar style="background-color:#232f3e"
    [(ngModel)]="searchQuery"
    (ionInput)="onSearch($event)">
  </ion-searchbar>
</ion-header>

<ion-content padding>

  

  <ion-grid>
    <ion-row>
      <ion-slides #productSlides>
        <ion-slide *ngFor="let product of products"  (click)="openProductPage(product)">
          <ion-card no-padding>
            <img [src]="product.images[0].src" />
            <h1 padding center> {{ product.name }} </h1>
            <p center padding [innerHTML]="product.short_description"></p>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-row>
  </ion-grid>


  <ion-list>
    <ion-item *ngFor="let product of moreProducts" text-wrap (click)="openProductPage(product)">
      <ion-thumbnail item-left>
        <img [src]="product.images[0].src" />
      </ion-thumbnail>

      <h2> {{ product.name }} </h2>

      <p>
        <span [innerHTML]="product.short_description.substr(0, 50) + '...'"></span>
        <span [innerHTML]="product.price_html"></span>
      </p>

      <button ion-button icon clear item-right>
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMoreProducts($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
