<ion-header>
  <ion-navbar color="moskar">
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>
      <img alt="logo" height="25" style="margin: 10px 0 5px -13px;" src="../../assets/imgs/logo-moskarcenter.png" >
    </ion-title>
    <ion-buttons end>
      <ion-grid>
        <ion-row>
          <ion-col>
            <button (click)="notifications()" style="background-color: transparent; font-size: 20px; color: aliceblue">
              <ion-icon name="notifications-outline"></ion-icon>
            </button>
          </ion-col>
          <ion-col>
            <button (click)="basket()" style="background-color: transparent; font-size: 20px; color: aliceblue">
              <ion-icon name="cart"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-buttons>
  </ion-navbar>

  <ion-searchbar style="background-color:#232f3e"
                 [(ngModel)]="searchQuery"
                 (ionInput)="onSearch($event)">
  </ion-searchbar>
</ion-header>

<ion-content padding>
  <ion-list>
  <ion-card *ngFor="let category of categories">
    <ion-item color="light" text-wrap (click)="openCategoryPage(category)" >
      <h2> {{ category.name }} </h2>
      <button ion-button icon clear item-right>
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-item>

    <ion-item *ngFor="let sub of category.subCategories" text-wrap (click)="openCategoryPage(sub)" menuClose>
      <h2> {{ sub.name }} </h2>
    </ion-item>
  </ion-card>
</ion-list>
</ion-content>
